
#MessageError{
    color: red;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}


section{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5vh;
    margin:auto;
    margin-top: 15%;
    background-color: white;
}
section h1{
    margin: 2vh;
}
section form{
    display: flex;
    flex-direction: row;
    margin: 2vh;
}
.profileInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#baseProfilePic{
    height: 10vh;
}
.tbxInput{
    padding: 0 5vh 1vh 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.btnSignUp{
    margin: auto;
}