
header nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: column;
}

header nav ul li {
	width: 140px;
	border: 1px solid #a3c0d5;
}

header nav ul a{
	padding-left: 20px;
	display: block;
	text-decoration: none;
	color: #5d90b5;
}

header nav ul a:hover{
	color: #294f79;
	background-color: #e9eefb;
}